@model Racemate.Web.Areas.User.ViewModels.Race.RaceListViewModel
@{
    ViewBag.Title = "My Races";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_RaceList", Model)
<div class="pager">
    @for (int page = 1; page <= Model.PageCount; page++)
    {
        string selectedClass = String.Empty;

        if (page == Model.CurrentPage)
        {
            selectedClass = "current-page";
        }

        @Html.ActionLink(page.ToString(), "MyRaces", "Race", new { page = page, sortBy = Model.SortBy, order = Model.Order }, new { @class = selectedClass })
    }
</div>

@section styles {
    @Styles.Render("~/Content/grids")
}