@using Racemate.Web.Areas.User.ViewModels.Garage;
@model IEnumerable<CarViewModel>
@{
    ViewBag.Title = "Garage";

    const string Controller = "Garage";
    const int CARS_PER_ROW = 4;
    int carCount = 0;
}

<h2>
    @ViewBag.Title
    @Html.ActionLink("Add Car", "AddCar", Controller, new { }, new { @class = "button green pull-right" })
</h2>
<div class="holder">
    @foreach (var car in Model)
    {
        <div class="car-info container">
            @Html.Partial("_CarDetailsCore", car)
            <div class="edit-panel">
                <a href="#" class="button green">EDIT</a>
                <a href="#" class="button orange">DELETE</a>
            </div>
        </div>
        
        carCount++;
        if (carCount % CARS_PER_ROW == 0)
        {
            <hr class="var-height"/>
        }                     
    }
</div>
